# Pandas

### Import Pandas

In [1]:
import pandas as pd # !pip install pandas
import numpy as np # !pip install numpy

### Series

In [2]:
pd.Series([1, 2, 3, -4, 'amir', np.nan, 0, True])

0       1
1       2
2       3
3      -4
4    amir
5     NaN
6       0
7    True
dtype: object

### Date

In [3]:
# it will print out the 6 days after 2023/01/01
dates = pd.date_range("20230101", periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

### Data Frame

In [7]:
# Create a DataFrame with 6 row, 4 columns
df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.667663  0.452690 -0.665653  0.019725
1  0.948500  0.184025 -2.428781 -1.246577
2 -0.001080  0.743982  0.181609  0.222211
3  1.128793  1.311737  0.413221 -0.407329
4  0.642964  0.245997 -1.016977 -1.146116
5 -0.497794 -0.924391 -0.753743  1.559041