# Pandas

### Import Pandas

In [1]:
import pandas as pd # !pip install pandas
import numpy as np # !pip install numpy

### Series

In [2]:
pd.Series([1, 2, 3, -4, 'amir', np.nan, 0, True])

0       1
1       2
2       3
3      -4
4    amir
5     NaN
6       0
7    True
dtype: object

### Date

In [3]:
# it will print out the 6 days after 2023/01/01
dates = pd.date_range("20230101", periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

### Data Frame

In [14]:
# Create a DataFrame with 6 row<index>: dates, 4 columns: A-D
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2023-01-01 -1.795053 -0.776272  0.024115  0.845279
2023-01-02  1.958386 -0.880248 -0.087396  2.342846
2023-01-03 -0.952065  0.261669 -0.078373 -0.161870
2023-01-04  0.049574  0.365972  1.603120 -0.838498
2023-01-05 -0.997906 -0.527869  0.526380 -1.541786
2023-01-06  0.812188 -1.165039 -2.147868  1.085166

In [24]:
# Show the Types of DataFrame
print("DataFrame Type")
print(df.dtypes)
print("----------------------")
print("'A' Column Type")
print(df["A"])

DataFrame Type
A    float64
B    float64
C    float64
D    float64
dtype: object
----------------------
'A' Column Type
2023-01-01   -1.795053
2023-01-02    1.958386
2023-01-03   -0.952065
2023-01-04    0.049574
2023-01-05   -0.997906
2023-01-06    0.812188
Freq: D, Name: A, dtype: float64

In [28]:
# Show the Head of the DataFrame
df.head(2)

                   A         B         C         D
2023-01-01 -1.795053 -0.776272  0.024115  0.845279
2023-01-02  1.958386 -0.880248 -0.087396  2.342846

In [29]:
# Show the end of the DataFrame
df.tail(2)

                   A         B         C         D
2023-01-05 -0.997906 -0.527869  0.526380 -1.541786
2023-01-06  0.812188 -1.165039 -2.147868  1.085166

In [31]:
# Discribe Whats in the DataFrame
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.154146 -0.453631 -0.026670  0.288523
std    1.376901  0.629463  1.222334  1.413359
min   -1.795053 -1.165039 -2.147868 -1.541786
25%   -0.986446 -0.854254 -0.085140 -0.669341
50%   -0.451245 -0.652071 -0.027129  0.341705
75%    0.621535  0.064285  0.400814  1.025195
max    1.958386  0.365972  1.603120  2.342846